{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">Success!!!</h1>
        <p class="article-meta"><strong>Success!!!!</strong></p>

        <form th:object="${requestArticle}" action="/article/create" id="requestArticle" name="requestArticle" method="POST">
            <div class="form-group">
                <input type="text" th:field="*{title}" name="title" id="title" class="form-control" placeholder="Title" required="required"><br>
            </div>
            <input name="headline"><br>
            <input name="content"><br>
            <button type="submit">확인</button>
        </form>
    </header>
</section>

{{> footer}}