{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">Success!!!</h1>
        <p class="article-meta"><strong>Success!!!!</strong></p>
    </header>
</section>

{{> footer}}